[Unit]
Description=AutoLight Service
After=network.target

[Service]
Type=simple
WorkingDirectory={wdir}
ExecStart={cmd}
Restart=always
User={user}
Group={user}
EnvironmentFile=/etc/environment
[Install]
WantedBy=multi-user.target

